* {
    box-sizing: border-box;
}
h1 {
    font-family: sans-serif;
    font-size: 4em;
    color: darkgrey;
    text-align: center;
    margin-bottom: 80px;
}
a {
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    margin-right: 16px;
    color: crimson;
}
a:hover {
    color: black;
    font-weight: bolder;
}
#table2 th {
    width: 33%;
}
#table2 input {
    width: 50px;
    align-self: center;
}
#semester {
    margin-left: 35px;
    margin-right: 108px;
}
body, main {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 39px;
}
table caption {
    font-size: 2em;
    margin: 20px 0 20px 0;
    font-family: sans-serif;
    font-weight: bolder;
}
div {
    width: 100%;
    margin-right: 0 auto;
    margin-left: 0 auto;
    padding-bottom: 30px;
    font-family: sans-serif;
    border-collapse: separate;
}
table {
    width: 100%;
    margin-right: 0 auto;
    margin-left: 0 auto;
    padding: 10px 10px 30px 10px;
    text-align: center;
    background-color: beige;
    font-family: sans-serif;
    border-collapse: separate;
    border-spacing: 50px 0;
    margin-bottom: 30px;
}
td {
  padding: 10px 0;
}
table th {
    color: dimgrey;
    font-size: 1.5em;
    margin: 100px 0 10px 0;
}
th .hours {
    margin-left: 32px;
}
table tr { 
    padding: 20px ;
    margin: 30px 0 30px 0;
}
table td input, select, table td {
    font-family: sans-serif;
    font-size: 1.2em;
}
.hour {
    width: 100%;
}
.three {
    width: 28%;
    margin: 16px;
    font-size: 1.1em;
    margin-bottom: 39px;
}
form input[type=text] {
    width: 30%;
    padding: 6px 10px;
    margin: 8px 20px;
    box-sizing: border-box;
}
form {
    font-size: 1.2em;
    font-family: sans-serif;
}
input[type=text]:focus {
    border: 1px solid #555;
}
.form1 {
    display: none;
    margin-bottom: 16px;
}
section {
    padding-left: 17px;
}
button:hover {
    background-color: grey;
}
#mainBtn {
    clear: both;
    cursor: pointer;
    margin-left: 220px;
    margin-top: -20px;
    padding: 10px 30px 10px 30px;
    font-family: sans-serif;
    font-size: 1.5em;
    background-color: #6782d0;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    float: left;
    display: block;
}
#smallBtn, #addSemester {
    float: left;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 36px;
    margin-top: -63px;
    margin-bottom: 18px;
    padding: 5px 25px 5px 25px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 0.9em;
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
    border-radius: 3px;
}
#smallBtn:hover, #addSemester:hover {
    color: grey;   
}
#addSemester {
    float: left;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 47px;
    margin-top: -66px;
    margin-bottom: 18px;
    padding: 5px 25px 5px 25px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 0.9em;
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
    border-radius: 3px;
}
button:focus {
    outline:0;
}
#smallBtn:hover {
    color: lightgrey;
}
#mainBtn:hover {
    background-color: #8b9dd3;
}
#submitBtn {
    width: 50px;
    margin: 81px;
    margin-top: 20px;
    margin-right: 0px;
    font-size: 1.1em;   
}