* {
    box-sizing: border-box;
}
h1 {
    font-family: sans-serif;
    font-size: 4em;
    color: darkgrey;
    text-align: center;
    margin-bottom: 80px;
}
#div1, #div2 {
    -webkit-box-shadow: 1px 1px 1px 1px lightgrey;
    -moz-box-shadow: 1px 1px 1px 1px lightgrey;
    box-shadow: 1px 1px 1px 1px lightgrey;
}
#div1 {
    padding-bottom: 80px;
    margin-bottom: 30px;
}
#div2 {
    margin-bottom: 50px;
}
h2 {
    font-family: sans-serif;
    font-size: 2em;
    color: darkgrey;
    text-align: left;
    margin-top: 50px;
    padding-left: 18px;
}
a {
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    margin-right: 16px;
    color: crimson;
}
body {
    background-color: beige;
}
a:hover {
    color: black;
    font-weight: bolder;
}
#table2 th {
    width: 33%;
    font-size: 0.9em;
}
#table2 input {
    width: 50px;
    align-self: center;
}
#courses, #div1 {
    margin-top: 50px;
}
#semester {
    margin-left: 35px;
    margin-right: 108px;
}
body, main {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 39px;
}
table caption {
    height: 80px;
    width: 100%;
    font-size: 3em;
    padding-top: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: #2c3e50;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
div {
    display: block;
    width: 100%;
    margin-right: 0 auto;
    margin-left: 0 auto;
    padding-bottom: 0px;
    font-family: sans-serif;
    border-collapse: separate;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 10px solid black;   
}
table {   
    margin-right: 0 auto;
    margin-left: 0 auto;
    text-align: left;
    background-color: beige;
    font-family: sans-serif;
    border-collapse: separate;
    border-spacing: 90px 0;
    display: block;
    background-color: white;
}
table tr th, td {
    padding-top: 10px;
}
table th {
    padding-top: 30px;    
    color: dimgrey;
    font-size: 1em;
    width: 33%;
}
th .hours {
    margin-left: 32px;
}
table tr { 
    padding: 20px ;
    margin: 30px 0 30px 0;
}
table td input, select, table td {
    font-family: sans-serif;
    font-size: 0.9em;
    height: 30px;
}
select {
    height: 30px;
}
.hour {
    width: 100%;    
}
form input[type=text] {
    width: 30%;
    padding: 6px 10px;
    margin: 8px 20px;
    box-sizing: border-box;
}
form {
    font-size: 1.2em;
    font-family: sans-serif;
}
input[type=text]:focus {
    border: 1px solid #555;
}
.form1 {
    background-color: white;
    margin-bottom: 16px;
    padding-left: 86px;
    font-size: 0.9em;
    font-weight: bold;
    color: dimgrey;
}
section {
    padding-left: 17px;
}
button:hover {
    background-color: grey;
}
#mainBtn, .three {
    clear: both;
    cursor: pointer;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #7f8c8d;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    clear: both;
}
#mainBtn, #submitBtn {
    margin-bottom: 80px;
}
.smallBtn {
    cursor: pointer;
    margin-right: 0px;
    margin-left: 91px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 0.9em;
    background-color: #bdc3c7;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
}
#targetGPA {
    padding-top: 31px;
    padding-left: 39px;
}
#calculateCGPA {
    clear: both;
    display: block;
}
button:focus {
    outline:0;
}
.smallBtn:hover {
    color: white;
}
#mainBtn:hover {
    background-color: #8b9dd3;
}