* {
    box-sizing: border-box;
}
main {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    font-family: sans-serif;
}
body {
    background-color: #efe0ca;
}
form {
    padding-left: 20px;
    padding-bottom: 20px;
}
button {
    padding: 5px 40px;
    background-color: #3287db;
    font-size: 2em;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bolder;
    color: white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
button:hover {
    background-color: #69a9e8;
}
section h1 {
    font-size: 3em;
    background-color: #212020;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
}
section {
    padding-bottom: 30px;
    margin-bottom: 30px;
}